<h1><%= @user.username %></h1>
<p>Votings which are created by this user:</p>
<% @votes.each do |v| %>
    <%= link_to vote_path(v), {:style=>'text-decoration:none;'} do %>
      <button type="button" class="list-group-item"><center><h5><%= v.question %></h5></center></button>
    <% end %>
<% end %>